.form-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.form-field input {
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2.75px solid #6f6f6f;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}

.form-field input:focus {
  outline: none;
  border: 2.5px solid #8b3131;
  transition: 0.2s ease-in-out;
}

.form-field input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #aaaaaa;
}

.label-and-error {
  display: flex;
  align-items: center;
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 2px 5px;
  color: #666666;
}

.error-text {
  color: rgb(239, 73, 73);
  margin-left: 6px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  margin: 0px 0px 3px 5px;
  font-weight: 500;
}
