.goBack {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.goBack:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reviewContainer {
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.passengerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: auto;
}

.flightInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: auto;
}
.flightInfoContainer h4 {
  padding-bottom: 0.5rem;
}

.passengerContainer h4 {
  padding-bottom: 0.5rem;
}

.passengerKey {
  font-weight: 600;
}

.passengerValue {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.submitContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2rem);
  gap: 1rem;
}

.confirmationModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  padding-top: 1rem;
}

.actionContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.confirmationModal h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.cannotUndo {
  color: var(--miracle-color-red-dark);
  font-weight: 600;
}

.areYouSure {
  color: var(--miracle-color-medium-dark);
  font-weight: 400;
}

.reviewBlockHeader {
  margin-bottom: 24px;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: black;
  margin-top: 10px;
}

.detailsHeader {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
