.form-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.form-field input {
  width: 264px;
  height: 53px;
  padding: 0.625rem;
  border: 0.8px solid var(--miracle-color-medium);
  transition: 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 2rem;
  font-family: Inter;
}

.form-field input:focus {
  outline: none;
  border: 0.8px solid var(--miracle-color-red-extra-dark);
  transition: var(--transition-duration-short) ease-in-out;
}

.form-field input:hover {
  outline: none;
  border: 0.8px solid var(--miracle-color-red-extra-dark);
  transition: var(--transition-duration-short) ease-in-out;
}

.form-field input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: #7c7b7c;
  opacity: 80%;
}

.label-and-error {
  display: flex;
  align-items: center;
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0rem 0rem 0.125rem 0.3125rem;
  color: var(--miracle-color-medium-dark);
}

.error-text {
  color: var(--miracle-color-red-extra-dark);
  margin-left: 0.375rem;
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  margin: 0rem 0rem 0.1825rem 0.3125rem;
  font-weight: 500;
}
