.selectWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.selectWrapper label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 2px 5px;
  color: #666666;
}

.selectWrapper select {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  height: fit-content;
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  border: 2.75px solid #6f6f6f;
  transition: 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
}

.selectWrapper select:focus {
  outline: none;
  border: 2.5px solid #8b3131;
  transition: 0.2s ease-in-out;
}
