.selectWrapper {
  position: relative;
  width: 200px; /* Set the width as needed */
  display: flex;
  flex-direction: column;
}

.selectWrapper label {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
  color: red;
}

.selectWrapper select {
  width: 100%;
  color: #999;
  border-color: #999;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  font-size: 16px;
  outline: none;
  height: fit-content;
  padding: 4px 8px;
}

/* Style the placeholder option */
.selectWrapper select::placeholder {
  color: #999; /* Adjust placeholder color as needed */
}
