.button {
  font-family: "Inter", sans-serif;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: var(--transition-duration-long) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.button:disabled {
  opacity: 0.5;
}

.button:not(:disabled):hover {
  transform: scale(1.02); /* Expand the size slightly on hover */
}

.buttonText {
  visibility: visible;
  margin-right: 0.625rem;
}

/* Hides the text when loading */
.button.loading .buttonText {
  visibility: visible;
}

/* Spinner container to control the spinner positioning */
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 2rem;
  right: 0.625rem;
}

.Compact {
  padding: 1rem 1rem;
  font-size: 1.125rem;
  height: fit-content;
}

.Regular {
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
}

.Large {
  padding: 0.9375rem 1.25rem;
  font-size: 1.625rem;
}

.Login {
  width: 180px;
  height: 46px;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--miracle-color-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login:hover {
  background-color: var(--miracle-color-blue-dark);
}

.Blue {
  background-color: var(--miracle-color-blue);
  color: white;
}

.Yellow {
  background-color: var(--miracle-color-yellow);
  color: black;
}

.Green {
  background-color: var(--miracle-color-green);
  color: white;
}

.Grey {
  background-color: var(--miracle-color-medium-dark);
  color: white;
}

.Red {
  background-color: var(--miracle-color-red);
  color: white;
}

.Black {
  background-color: var(--miracle-color-dark);
  color: white;
}

.White {
  background-color: white;
  color: var(--miracle-color-dark);
}

.button:disabled,
.button.loading {
  cursor: not-allowed;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.625rem;
}

.Signup {
  width: 180px;
  height: 46px;
  border-radius: 40px;
  border: 1px solid #7196d0;
  background: #ffffff;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #7196d0;
  cursor: pointer;
  gap: 0px;
  margin-top: 16px;
}

.Signup:hover {
  opacity: 0.9;
}
