.rotundaContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  transition: scroll-left 1s ease-in-out; /* Smoother transition for scrolling */
}

.rotundaImage {
  width: 320px;
  height: 180px;
  flex-shrink: 0;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.rotundaImage:hover {
  transform: scale(1.05);
}

.arrow {
  position: absolute;
  height: 100%;
  display: flex; /* Enable flexbox */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background-color: #fff;
  border: none;
  color: var(--miracle-color-blue);
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.arrow:hover {
  opacity: 1;
}

.Icon {
  font-size: 24px;
  top: 50%;
}

.arrow.left {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
  padding-right: 50px;
}

.arrow.right {
  right: 0px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  padding-left: 50px;
}
