.dashboardContainer {
  display: flex;
  flex-direction: column;
}

.CardsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.dashboardTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* make purple border around flightsToday */
.cardStyle {
  display: flex;
  width: 15rem;
  height: 100px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #e1dede;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  height: 8rem;
  flex-direction: column;
  color: #888787;
  background: rgb(250, 251, 252);
  background: linear-gradient(
    90deg,
    rgba(250, 251, 252, 1) 33%,
    rgb(237, 242, 249) 100%
  );
}

.flightNumber {
  font-size: 4rem;
  padding: 1rem 0;
  color: var(--miracle-color-blue);
}
