.dashboardContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.contentContainer {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.imageContainer {
  height: 472px;
  width: 570px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 472px;
  width: 570px;
}

.imageWrapper {
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dashboardTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 43px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  height: 570px;
  margin-right: 20px;
  flex-grow: 1;
  margin-left: auto;
  align-items: flex-end;
}

.upperCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f5fb;
  border-radius: 30px;
  height: 226px;
  width: 410px;
}

.lowerCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f5fb;
  border-radius: 30px;
  height: 226px;
  width: 410px;
  margin-top: 20px;
  margin-bottom: 39px;
}

.numberText {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #374e77;
}

.bottomText {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #374e77;
}

/* make purple border around flightsToday */
.cardStyle {
  display: flex;
  height: 100px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #e1dede;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  height: 8rem;
  flex-direction: column;
  color: #888787;
  background: rgb(250, 251, 252);
  background: linear-gradient(
    90deg,
    rgba(250, 251, 252, 1) 33%,
    rgb(237, 242, 249) 100%
  );
  flex-basis: 33.33%;
}

.flightNumber {
  font-size: 4rem;
  padding: 1rem 0;
  color: var(--miracle-color-blue);
}

.dashboardContainer h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--miracle-color-blue);
}

.quickLinkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  color: #888787;
  background: rgb(250, 251, 252);
  background: linear-gradient(
    90deg,
    rgba(250, 251, 252, 1) 33%,
    rgb(237, 242, 249) 100%
  );
  flex-basis: 33.33%;
  border-radius: 5px;
  border: 1px solid #e1dede;
  padding: 2rem 1rem;
  transition: all 0.3s;
}

.quickLinkText {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--miracle-color-blue);
}

.quickLinkContainer:hover {
  border: 1px solid var(--miracle-color-blue);
  cursor: pointer;
  transform: scale(1.01);
}

.prevArrow,
.nextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  z-index: 1;
}

.prevArrow {
  left: 10px;
}

.nextArrow {
  right: 10px;
}
