/* .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.patientSection {
  display: flex;
  flex-direction: column;
}

.patientInfo {
  margin-top: 2rem;
}

.passengerSection {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-right: 4rem;
}

.header {
  font-weight: 300;
  color: var(--miracle-color-medium-dark);
}

.subheader {
  font-weight: 700;
  color: var(--miracle-color-dark);
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.description {
  font-weight: 300;
  color: var(--miracle-color-medium-dark);
  margin-top: 0.5rem;
}

.passengersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: flex-start;
  margin-top: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.passengerCard {
  margin-right: 3rem;
}

.plusButton {
  margin-left: 0.5rem;
} */

.container {
  padding: 1rem; /* 24px */
  width: 90%;
  height: 100%;
  /* margin: 1 rem; */
  /* position: relative; */
}
/* 
.scrollContainer {
  height: 100%;
  padding-top: 5rem; 
}

.scrollContainer::-webkit-scrollbar {
  width: 0.625rem; 
}

.scrollContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.3125rem; 
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 0.3125rem; 
} */

.fixedHeader {
  position: absolute;
  top: 1.5rem; /* 24px */
  left: 1.5rem; /* 24px */
  right: 1.5rem; /* 24px */
  background-color: white;
  z-index: 10;
  padding-bottom: 1rem; /* 16px */
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05); /* 2px 8px */
}

.header {
  font-size: 2rem; /* 24px */
  font-weight: 600;
  margin-bottom: 1rem; /* 8px */
  color: #333;
}

.description {
  color: #666;
  margin-bottom: 0;
  font-size: 1rem; /* 14px */
}

.section {
  background-color: #fff;
  border-radius: 0.5rem; /* 8px */
  /* padding: 1.5rem; 24px */
  margin-top: 1.5rem; /* 24px */
  margin-bottom: 1.5rem;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05); 2px 4px */
}

.sectionHeader {
  font-size: 1.5rem; /* 18px */
  font-weight: 600;
  margin-bottom: 1rem; /* 16px */
  color: #333;
}

.patientCard {
  max-width: 31.25rem; /* 500px */
}

.companionHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem; /* 16px */
}

.addButton {
  border-radius: 1rem; /* 4px */
  padding: 0.5rem 1rem; /* 8px 16px */
  font-size: 0.875rem; /* 14px */
  background-color: #ffffff;
  border: solid 0.1rem var(--miracle-color-blue);
  color: #7196d0;
  font-weight: 600;
}

.addButton:hover {
  background-color: var(--miracle-color-blue);
  color: #ffffff;
  cursor: pointer;
}

.companionDescription {
  color: #666;
  margin-bottom: 1rem; /* 16px */
  font-size: 1rem;
}

.companionsGrid {
  gap: 1rem; /* 16px */
}

.passengersContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(20rem, 1fr)
  ); /* Responsive columns */
  gap: 16px; /* Spacing between cards */
  padding-bottom: 1rem;
}

.companionCard {
  border-radius: 0.5rem; /* 8px */
}

.requestTripContainer {
  margin-top: 1rem; /* 16px */
}

.requestTripButton {
  border-radius: 0.25rem; /* 4px */
  padding: 0.75rem 1.5rem; /* 12px 24px */
  font-size: 1rem; /* 16px */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px 4px */
}
