.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.patientSection {
  display: flex;
  flex-direction: column;
}

.patientInfo {
  margin-top: 2rem;
}

.passengerSection {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-right: 4rem;
}

.header {
  font-weight: 300;
  color: var(--miracle-color-medium-dark);
}

.subheader {
  font-weight: 700;
  color: var(--miracle-color-dark);
  margin-top: 2rem;
}

.description {
  font-weight: 300;
  color: var(--miracle-color-medium-dark);
  margin-top: 0.5rem;
}

.passengersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: flex-start;
  margin-top: 2rem;
}

.passengerCard {
  margin-right: 3rem;
}
