.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius:10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  color: white; 
  min-width: 150px; 
  width: auto; 
  height: 50px;
  position: relative;
}

.buttonText {
  visibility: visible; 
  margin-right: 10px; 
}

/* Hides the text when loading */
.button.loading .buttonText {
  visibility: visible;
}

/* Spinner container to control the spinner positioning */
.spinnerContainer {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: absolute; 
  width: 30px;
  top: 15%;
  right: 10px;
}


.Compact {
  padding: 5px 10px;
  font-size: 12px;
}

.Large {
  padding: 15px 30px;
  font-size: 18px;
}

.Blue {
  background-color: blue;
}

.disabled {
  background-color: #cccccc; 
  color: #767676;
}

.loading {
  position: relative;
}

.Grey {
  background-color: grey;
  color: white;
}

.Red {
  background-color: red;
  color: white;
}

.Black {
  background-color: black;
  color: white;
}

.button:disabled,
.button.loading {
  background-color: #cccccc;
  cursor: not-allowed;
}
