.form-field {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  margin-bottom: 2rem;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2.75px solid #0db5cf;
  font-size: 16px;
}

.form-field input:focus {
  outline: none;
  border: 2.5px solid #178596;
}

.form-field input::placeholder {
  font-family: "Inter";
  letter-spacing: 2px;
  font-size: 18px;
}

.label-and-error {
  display: flex;
  align-items: center;
}

.label {
  margin-left: 5px;
  letter-spacing: 1.25px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}

.error-text {
  color: red;
  margin-left: 6px;
  font-size: 16px;
  font-family: "Inter";
}
