.flightTicket {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
  font-family: "Inter";
}

.dateRow {
  padding: 1rem 0rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.dateRow h5 {
  font-size: 0.75rem !important;
  font-weight: 500;
  color: var(--miracle-color-medium);
}

.date {
  padding: 0.25rem 0.5rem;
  color: var(--miracle-color-blue);
  border: 0.0625rem solid var(--miracle-color-medium);
  border-radius: var(--border-radius-medium);
  width: fit-content;
  font-size: 0.8125rem;
}

.flightInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flightTagContainer {
  margin-right: auto;
}

.flightHeaderInfo {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flightInfoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  width: 100%;
}

.departureInfo,
.arrivalInfo {
  box-sizing: border-box;
  text-align: center;
  font-family: "Inter";
  color: black;
  background-color: white;
  outline: 1.4px #7196d0;
  box-shadow: 0px 0px 4px 0.4px #7196d0;
  width: 280px;
  height: 380px;
  margin: 10px;
  padding: 18px;
  border-radius: 8px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.departureInfoFlight,
.departureInfoTravel,
.arrivalInfoFlight,
.arrivalInfoTravel {
  color: black;
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.departureInfoFlightTitle,
.departureInfoTravelTitle,
.arrivalInfoFlightTitle,
.arrivalInfoTravelTitle {
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-decoration: underline;
}

.departureInfoText,
.arrivalInfoText {
  font-size: 0.8rem;
  line-height: 1.1rem;
}
.departurePassengerText,
.arrivalPassengerText {
  display: flex;
  margin-top: auto;
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-align: start;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.cityAndAirport {
  font-size: 42px;
  font-weight: 700;
  z-index: 2;
  position: relative;
}

.flightNumAndTime {
  font-size: 20px;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

.separator {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 160px;
  text-align: center;
  position: relative;
}

.separator::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  border-top: 2px dashed #ccc;
  transform: translateY(-50%);
}

.duration {
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
}

.plane {
  position: relative;
  z-index: 30;
  font-size: 30px;
}

.arrowIcon {
  margin-right: 0.5rem;
}

.seeMoreRow {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.85rem;
}

@media (max-width: 1250px) {
  .flightInfoContainer {
    flex-direction: column;
  }
  .flightInfoRow {
    flex-direction: column;
  }
  
}