.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  height: 50vh;
}

.formTitle {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  color: rgb(45 51, 68);
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.logoContainer {
  margin-bottom: 10px;
  background-size: contain;
}

.introText {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  color: rgb(45 51, 68);
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}

.bodyText {
  margin-top: 15px;
  font-size: 1.1rem;
  text-align: center;
  color: rgb(45 51, 68);
  font-family: "Roboto", sans-serif;
}
