.passengerCard {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: "Inter";
  width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px rgb(106, 99, 99);
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: #0da054;
  width: fit-content;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #0da054;
  border-radius: 1rem;
  background-color: #aee6a0;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  color: #0b0c0c;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
}

.boldText {
  font-weight: 600;
}

.dob {
  font-size: 1rem;
  font-weight: normal;
  color: rgb(144, 137, 137);
  margin-bottom: 0.5rem;
}

.relationship {
  font-size: 1rem;
  font-weight: normal;
  color: rgb(144, 137, 137);
  margin-bottom: 0.5rem;
}

.viewAllInfo {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
