.react-calendar {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border: 1px solid #ddd;
  font-family: var(--miracle-font-family);
  font-weight: 800;
  line-height: 1.5;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-calendar--doubleView {
  width: 100%;
  max-width: 800px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: var(--miracle-font-family);
  color: var(--miracle-color-medium-dark);
  font-weight: 600;
}

.react-calendar button:enabled:hover {
  background-color: var(--miracle-color-very-light);
}

.react-calendar__navigation {
  height: 60px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-calendar__navigation button {
  min-width: 44px;
  height: 44px;
  color: var(--miracle-color-red-dark);
  background-color: var(--miracle-color-white);
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.react-calendar__navigation button[disabled] {
  background-color: #ffffff;
  color: #bdc3c7;
  cursor: not-allowed;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--miracle-color-dark);
}

.react-calendar__month-view__days__day {
  text-align: center;
  transition: background-color 0.3s;
}

.react-calendar__month-view__days__day:hover {
  color: var(--miracle-color-medium-dark) !important;
}

.react-calendar__tile {
  text-align: center;
  padding: 1em;
  background: none;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.react-calendar__tile:disabled {
  background-color: var(--miracle-color-light);
  color: var(--miracle-color-medium);
  cursor: not-allowed;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  color: var(--miracle-color-white);
}

.react-calendar__tile--now {
  background: var(--miracle-color-light);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: var(--miracle-color-medium-light) !important;
}

.react-calendar__tile--hasActive {
  background: var(--miracle-color-red-dark);
  color: var(--miracle-color-white) !important;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: var(--miracle-color-red-dark);
}

.react-calendar__tile--active {
  background: var(--miracle-color-red-dark);
  color: var(--miracle-color-white) !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--miracle-color-red-dark);
  color: var(--miracle-color-white);
}
