/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

:root {
  --miracle-color-yellow-light: #fed77b;
  --miracle-color-yellow: #ffd369;
  --miracle-color-yellow-dark: #f8c03d;

  --miracle-color-blue-light: #94b4e8;
  --miracle-color-blue: #7196d0;
  --miracle-color-blue-dark: #4b78c2;

  --miracle-color-red-light: #f58f8f;
  --miracle-color-red: #d07171;
  --miracle-color-red-dark: #db5e5e;
  --miracle-color-red-extra-dark: #8b3131;

  --miracle-color-green-light: #8eefb6;
  --miracle-color-green: #6fcf97;
  --miracle-color-green-dark: #37cc75;

  --miracle-color-purple: #b99bf5;
  --miracle-color-purple: #9b7cda;
  --miracle-color-purple: #7a52ca;

  --miracle-color-white: #ffffff;
  --miracle-color-very-light: #f5f5f5;
  --miracle-color-light: #e7e7e7;
  --miracle-color-medium-light: #cfcfcf;
  --miracle-color-medium: #afb1b5;
  --miracle-color-medium-dark: #626262;
  --miracle-color-gray: #4a4a4a;
  --miracle-color-dark: #222831;
  --miracle-color-black: #000000;

  --passenger-card-gradient: linear-gradient(
    -75deg,
    rgb(245, 232, 232) 3%,
    rgb(228, 228, 244) 8%,
    white 40%
  );

  --passenger-card-gradient-hover: linear-gradient(
    -75deg,
    rgb(225, 205, 205) 3%,
    rgb(207, 207, 224) 8%,
    rgb(248, 248, 248) 40%
  );

  --transition-duration-short: 0.15s;
  --transition-duration-long: 0.3s;
  --border-radius-small: 0.125rem;
  --border-radius-medium: 0.25rem;
  --border-radius-large: 1.25rem;
  --box-shadow: 0 0 48px rgba(34, 40, 49, 0.1);
  --miracle-shadow-ambient: rgba(34, 40, 49, 0.05) 0.0625rem 0.4375rem 0.9375rem
    0rem;

  --miracle-font-family: "Inter", sans-serif;
}
/* Fonts, sizing, and lines */
html,
body {
  font-family: var(--miracle-font-family);
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body {
  font-size: 1rem;
  background-color: var(--rs-color-light);
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 105%;
  color: var(--rs-color-dark);
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

/* Links */
a {
  text-decoration: underline;
  color: var(--miracle-color-dark);
}

a:hover {
  cursor: pointer;
}
