/* signUp.module.css */

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #d2ddf0;
}

.logo {
  position: fixed;
  top: 24px;
  left: 32px;
  height: 50px;
  z-index: 10;
}

.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpBlock {
  background-color: var(--miracle-color-white);
  box-shadow: var(--box-shadow);
  padding: 30px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.signUpBlockHeader {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
  text-align: left;
  width: 100%;
}

.signUpBlockSubtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
  margin-bottom: 16px;
}

.signUpBlockContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signUpInputContainerUpper,
.signUpInputContainerLower {
  width: 100%;
  margin-bottom: 16px;
}

.signUpInput {
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--miracle-color-medium-light);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.signUpBlockLink {
  color: var(--miracle-color-blue);
  text-decoration: none;
}

.signUpBlockLink:hover {
  cursor: pointer;
}

.signUpRedirect {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: black;
  margin-bottom: 16px;
}

.passwordToggle {
  cursor: pointer;
  display: flex;
  color: var(--miracle-color-medium-dark);
}

.Icon {
  margin: -35px 10px 0 auto;
}

.forgotPassword {
  font-size: 12px;
  color: var(--miracle-color-medium-dark);
  margin-bottom: 16px;
  margin-left: auto;
}

.sentEmailText {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: black;
  margin-bottom: 16px;
  margin-top: 8px;
  line-height: 1.25;
}

.errorMsg {
  color: rgb(165, 56, 51);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 8px;
}

.signUpInputContainerUpper :global(input),
.signUpInputContainerLower :global(input) {
  width: 100% !important;
  box-sizing: border-box;
}
