.tripsMainTitle {
  margin-bottom: 24px;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: black;
}

.tripsMainSubtitle {
  color: black;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 1.5625rem;
  font-weight: 600;
  margin-bottom: 25px;
  color: var(--miracle-color-dark);
  opacity: 1;
}

.timeFrame {
  color: var(--miracle-color-dark-500);
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pageContainer {
  flex-direction: column;
  width: calc(100% - 4rem);
  height: 80vh;
  font-family: "Inter";
  padding: 2rem;
  box-sizing: content-box;
}

.flightsGroup {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.tripContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 0px 10px;
}

.flightContainerText {
  font-size: 1.125rem !important;
  font-weight: 400;
}

.departureText {
  font-size: 1.125rem !important;
  font-weight: 600;
  color: #0067dd;
}

.arrivalText {
  font-size: 1.125rem !important;
  font-weight: 600;
  color: #b22a2a;
}

.statusText {
  font-size: 1rem;
  font-weight: 600;
  color: var(--miracle-color-dark);
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-left: 10px;
}

.requestContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  border: 1px solid var(--miracle-color-blue-light);
  border-radius: 15px;
  background-color: var(--miracle-color-very-light);
  padding: 1rem;
  margin: 0;
  transition: all 0.3s;
  margin-bottom: 2rem;
  user-select: none;
}

.requestContainer:hover {
  cursor: pointer;
  transform: scale(1.005);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.chevron {
  color: var(--miracle-color-blue);
  font-size: 1rem !important;
  height: 18px;
  width: 18px;
  margin-right: 15px;
}

.noDataContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  height: 100%;
}

.noDataContainerText {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyLinkDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.copyLinkButton {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  background-color: #7196d0;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 40px;
  padding: 16px 26px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.3s ease;
  outline: none;
}

.copyLinkButton:hover {
  opacity: 0.9;
}

.copyLinkButton:active {
  transform: scale(0.95);
}
