.tripsMainTitle {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--miracle-color-dark);
  opacity: 1;
}

.tripsMainSubtitle {
  font-size: 0.9375rem;
  font-weight: 300px;
  margin-bottom: 15px;
  color: var(--miracle-color-dark);
  opacity: 1;
}

.title {
  font-size: 1.5625rem;
  font-weight: 600;
  margin-bottom: 25px;
  color: var(--miracle-color-dark);
  opacity: 1;
}

.timeFrame {
  color: var(--miracle-color-dark-500);
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pageContainer {
  width: 100%;
  height: 80vh;
  font-family: "Inter";
}
.flightsGroup {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.tripContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 0px 10px;
}

.flightContainerText {
  font-size: 1.125rem !important;
  font-weight: 400;
}

.departureText {
  font-size: 1.125rem !important;
  font-weight: 400;
  color: var(--miracle-color-blue);
}

.arrivalText {
  font-size: 1.125rem !important;
  font-weight: 400;
  color: var(--miracle-color-red);
}

.statusText {
  font-size: 1rem;
  font-weight: 600;
  color: var(--miracle-color-dark);
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-left: 10px;
}

.requestContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%-1rem;
  border: 1px solid var(--miracle-color-blue-light);
  border-radius: 15px;
  background-color: var(--miracle-color-very-light);
  padding: 1rem;
  margin: 0;
  transition: all 0.3s;
  margin-bottom: 2rem;
  user-select: none;
}

.requestContainer:hover {
  cursor: pointer;
  transform: scale(1.005);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.chevron {
  color: var(--miracle-color-blue);
  font-size: 1rem !important;
  height: 18px;
  width: 18px;
  margin-right: 15px;
}

.noDataContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  height: 100%;
}

.noDataContainerText {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
