.TabOpen {
  font-family: "Inter", sans-serif;
  color: rgb(103, 99, 99);
  border: none;
  width: 100%;
  height: 38px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  margin-bottom: 10px;
  border-radius: 4px;
}

.TabClosed {
  font-family: "Inter", sans-serif;
  color: rgb(103, 99, 99);
  border: none;
  width: 100%;
  height: 38px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background: none;
  border-radius: 4px;
}

.TabUnselected {
  transition: 0.2s ease-in-out background-color;
  margin-bottom: 30px;
}

.TabUnselected:hover {
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

.TabSelected {
  text-decoration: underline;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out background-color;
}

.RequestFlight {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 1px;
}

.UpperSideBarLinks {
  width: 100%;
  margin-top: 20px;
}

.LowerSideBarLinks {
  /* width: 70%;
  height: 22%; */
  margin-top: 10px;
  margin-bottom: 1px;
}

.SideBarOpen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  width: 30vw;
  min-width: 250px;
  max-width: 300px;
}

.SideBarClosed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 50px;
  max-width: 60px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  width: 5vw;
}

.SideBarTitleSelected {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 10px;
}

.SideBarTitleUnselected {
  font-family: "Inter", sans-serif;
  color: rgb(103, 99, 99);
  font-size: 12px;
  font-weight: 600;
  margin: 10px 10px;
}

.SidebarIcon {
  height: 16px;
  width: 16px;
}

.sideBarToggleMenuContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.sideBarToggleMenu {
  background: none;
  border: none;
  font-size: 30px;
  padding: 5px 10px;
  color: rgb(103, 99, 99);
  transition: 0.2s ease-in-out background-color;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sideBarToggleMenu:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
}

.Logo {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
}

.heart {
  height: 15px;
  width: 100px;
  display: flex;
  justify-content: center;
  margin-top: 0.1px;
}

.Reference {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 10px;
  flex-grow: 1;
  justify-content: center;
}
