.TabOpen {
  font-family: "Inter", sans-serif;
  color: var(--miracle-color-dark);
  border: none;
  width: 100%;
  height: fit-content;
  padding-left: 1.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border-radius: 0.25rem;
}

.TabClosed {
  font-family: "Inter", sans-serif;
  color: var(--miracle-color-dark);
  border: none;
  width: 100%;
  height: fit-content;
  padding: 0rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 0.25rem;
}

.TabUnselected {
  transition: 0.2s ease-in-out background-color;
  padding: 1rem;
}

.TabUnselected:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.TabSelected {
  text-decoration: underline;
  transition: 0.2s ease-in-out background-color;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

.RequestFlight {
  width: 100%;
  display: flex;
  justify-content: center;
}

.UpperSideBarLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LowerSideBarLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SideBarLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.SideBarOpen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  width: 30vw;
  min-width: 15.625rem;
  max-width: 18.75rem;
}

.SideBarClosed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 3.125rem;
  max-width: 3.75rem;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  width: 5vw;
  gap: 2rem;
}

.SideBarTitleSelected {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0rem 1rem;
}

.SideBarTitleUnselected {
  font-family: "Inter", sans-serif;
  color: var(--miracle-color-dark);
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0rem 1rem;
}

.SidebarIcon {
  height: 1rem;
  width: 1rem;
}

.sideBarToggleMenuContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.sideBarToggleMenu {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0rem 0.625rem;
  color: var(--miracle-color-dark);
  transition: 0.2s ease-in-out background-color;
}

.sideBarToggleMenu:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  border-radius: 0.5rem;
}

.Logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.builtByContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heartLogo {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Reference {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 0.625rem;
  justify-content: center;
}

.logoImageOpen {
  height: 3rem;
}

.logoImageClosed {
  height: 2rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profileInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileInfoContainer p {
  font-size: 0.75rem;
  font-weight: 600;
}

#smallerText {
  font-size: 0.75rem;
}
