.logo {
  position: fixed;
  top: 24px;
  left: 32px;
  height: 50px;
  z-index: 10;
}

.onboardingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #d2ddf0;
}

.onboardingBlock {
  background-color: var(--miracle-color-white);
  box-shadow: var(--box-shadow);
  padding: 30px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.onboardingBlockHeader {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
  text-align: left;
  width: 100%;
}

.onboardingBlockContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onboardingInputContainer {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtitleText {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: black;
  margin-bottom: 16px;
  line-height: 1.25;
  margin-top: 8px;
}

.patientText {
  font-size: 1rem;
  font-weight: 400;
  color: var(--miracle-color-gray);
}

.patientLabel {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--miracle-color-medium);
  margin-bottom: 0.5rem;
}

.patientGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.continueButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
  width: 100%;
  gap: 1rem;
}

.buttonBarContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
