/* Login.module.css */

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.navbar {
  width: 100%;
  background-color: white;
  padding: 16px 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: 10;
}

.contentContainer {
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--miracle-color-blue),
    var(--miracle-color-blue-light)
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 19px;
  height: auto;
  flex-grow: 1;
  justify-content: space-between;
}

.logo {
  align-self: flex-start; /* Align the logo to the top left */
  height: 50px;
  margin-left: 32px;
  margin-top: 24px;
}

.loginContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 19px;
  width: 70%;
}

.loginBlock {
  background-color: var(--miracle-color-white);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 999px;
  height: 676px;
  top: 127px;
  left: 19px;
  border-radius: 15px;
  max-height: 90vh;
}

.loginBlockHeader {
  font-size: 35px;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-bottom: 32px;
}

.loginBlockSubtitle {
  font-size: 14px;
  color: var(--miracle-color-medium-dark);
  margin-bottom: 16px;
}

.loginBlockContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginInputContainerUpper {
  width: 264px;
  margin-bottom: 16px;
  justify-content: center;
}

.loginInputContainerLower {
  width: 264px;
  justify-content: center;
}

.loginBlockLink {
  color: var(--miracle-color-blue);
  text-decoration: none;
}

.loginBlockLink:hover {
  cursor: pointer;
}

.loginRedirect {
  margin-bottom: 16px;
  font-size: 12px;
}

.passwordToggle {
  cursor: pointer;
  display: flex;
  color: var(--miracle-color-medium-dark);
}

.Icon {
  margin: -35px 10px 0 auto;
}

.forgotPassword {
  font-size: 12px;
  color: var(--miracle-color-medium-dark);
  margin-top: 8px;
  align-self: flex-start;
  margin-left: 0;
  margin-bottom: 32px;
}

.rightSideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding-right: 4rem;
  padding-left: 1rem;
}

.rightSideHeader {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 16px;
}

.rightSideText {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 300;
}
