/* Login.module.css */

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo {
  align-self: flex-start; /* Align the logo to the top left */
  height: 50px;
  margin-left: 32px;
  margin-top: 24px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 72px 0;
}

.loginBlock {
  background-color: var(--miracle-color-white);
  box-shadow: var(--box-shadow);
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.loginBlockHeader {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #333;
}

.loginBlockSubtitle {
  font-size: 14px;
  color: var(--miracle-color-medium-dark);
  margin-bottom: 16px;
}

.loginBlockContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInputContainerUpper,
.loginInputContainerLower {
  width: 100%;
  margin-bottom: 16px;
}

.loginInput {
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--miracle-color-medium-light);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.loginBlockLink {
  color: var(--miracle-color-blue);
  text-decoration: none;
}

.loginBlockLink:hover {
  cursor: pointer;
}

.loginRedirect {
  margin-bottom: 16px;
  font-size: 12px;
}

.passwordToggle {
  cursor: pointer;
  display: flex;
  color: var(--miracle-color-medium-dark);
}

.Icon {
  margin: -30px 10px 0 auto;
}

.forgotPassword {
  font-size: 12px;
  color: var(--miracle-color-medium-dark);
  margin-bottom: 16px;
  margin-left: auto;
}
