.buttonsContainer {
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.columnContainer {
  flex-direction: column;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.currentQuestionContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 20px;
  justify-content: center;
  height: 100%;
}
