.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  margin-top: 50px;
  width: 90%;
  height: 90vh;
  max-height: 550px;
  max-width: 1200px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
}

.scrollableContainer {
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: start;
  overflow-y: auto;
  padding-top: 35px;
  max-height: 75vh;
}

.questionsContainer {
  padding-left: 20px;
  padding-right: 20px;
}

.formDivider {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  height: 95%;
  margin-bottom: 20px;
}

.multiSelectContainer {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-direction: column;
}

.labelText {
  font-size: 1.1rem;
  color: rgb(45 51, 68);
  text-align: left;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}
