.questionContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.questionPromptContainer {
  text-align: left;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: rgb(45 51, 68);
  text-wrap: wrap;
  flex-wrap: wrap;
}

.questionHeaderContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  align-items: center;
}

.symbolContainer {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  margin-right: 20px;
}

.symbolContainer {
  width: 10px;
  height: 10px;
  background-size: contain;
}

.titleText {
  text-align: left;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  color: rgb(45 51, 68);
  font-weight: bold;
}
