@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap");

.flightSelectorContainer {
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.flightSelectorBlockHeader {
  margin-bottom: 24px;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: black;
}

.flightSelectorBlockSubtitle {
  color: black;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.airportChunk {
  display: flex;
  flex-direction: column;
}

.flightSelectorBlockContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 0 0;
  align-items: center;
}

.flightSelectorInputContainerUpper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 48px;
  width: 100%;
}

.flightSelectorInputContainerLower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

/* Additional styles for the individual components if needed */
.checkBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}

.flightSelectorSubmitButton {
  background-color: var(--miracle-color-red);
  color: var(--miracle-color-light);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--miracle-color-red);
  border-width: 2px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  height: fit-content;
  padding: 12px 28px;
  text-align: center;
  width: 400px;
  align-self: center;
}

.flightSelectorSubmitButton:hover {
  background-color: transparent;
  border-color: var(--miracle-color-red); /* Change border color to red */
  color: var(--miracle-color-red); /* Change text color to red */
  cursor: pointer;
}

.flightSelectorSubmitButton:disabled {
  color: var(--miracle-color-medium);
  background-color: var(--miracle-color-light);
  border-color: var(--miracle-color-medium);
}

.flightSelectorSubmitButton:disabled:hover {
  cursor: not-allowed;
}

.flightSelectorInputContainer {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  gap: 12px;
  overflow: visible;
}

.flightSelectorInputRed {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--miracle-color-red);
  color: var(--miracle-color-white);
  font-weight: 700;
  background-color: var(--miracle-color-red);
  border-radius: 2px;
  width: 200px;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
}

.flightSelectorInputRedBorder {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--miracle-color-red);
  color: var(--miracle-color-red);
  font-weight: 700;
  border-radius: 2px;
  width: 200px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.flightSelectorInputRed::placeholder {
  color: var(--miracle-color-white);
}

.flightSelectorInputRedBorder::placeholder {
  color: var(--miracle-color-red);
}

.flightSelectorInputBlue {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--miracle-color-blue);
  color: var(--miracle-color-white);
  font-weight: 700;
  background-color: var(--miracle-color-blue);
  border-radius: 2px;
  width: 200px;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
}

.flightSelectorInputBlueBorder {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--miracle-color-blue);
  color: var(--miracle-color-blue);
  font-weight: 700;
  border-radius: 2px;
  width: 200px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.flightSelectorInputBlue::placeholder {
  color: var(--miracle-color-white);
}

.flightSelectorInputBlueBorder::placeholder {
  color: var(--miracle-color-blue);
}

.flightSelectorInputLabelBlue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 37px;
  background-color: #0067dd;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  cursor: default;
}

.flightSelectorInputLabelRed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 37px;
  background-color: #b22a2a;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  cursor: default;
}

.airplaneIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.horizontalLineWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 130px 16px 0px 16px;
}

.horizontalLineWithIcon::before,
.horizontalLineWithIcon::after {
  content: "";
  flex-grow: 1;
  border-top: 1px dashed var(--miracle-color-medium-dark);
}

.airplaneIcon {
  font-size: 40px;
  color: var(--miracle-color-dark);
  text-align: center;
  margin: 0 16px;
}

.submitErrorMessage {
  color: var(--miracle-color-red);
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 49px;
  background-color: #f0f0f0;
  border-radius: 31px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.toggleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 39px;
  border-radius: 29px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: black;
  cursor: pointer;
}

.toggleItem.selected {
  background-color: #d9d9d9;
}

.datePicker {
  width: 382px;
  height: 334px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: transparent;
  margin: 1rem auto;
  padding: 0.5rem;
  box-sizing: border-box;
}

.flightSelectorErrorMessage {
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
  color: red;
  opacity: 1;
  text-align: center;
  width: 220px;
}

.subtitleDivider {
  width: 100%;
  height: 1px;
  background-color: #a6a5a5;
  border: none;
  margin-bottom: 16px;
  opacity: 0.48;
}

.requestsHeader {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
  text-align: left;
  width: 100%;
}

.dateRequestsHeader {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
  text-align: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 24px;
}

.labelContainer {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.flightSelectorInput {
  width: 195px;
  height: 30px;
  border: 0.8px solid black;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  overflow: visible;
}

.suggestionWrapper {
  position: relative;
  width: 100%;
}

.suggestionsList {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestionsList li {
  padding: 8px;
  cursor: pointer;
}

.suggestionsList li:hover {
  background-color: #f0f0f0;
}
