.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  border: 0.125rem solid var(--miracle-color-blue);
  border-radius: 1rem;
  background: #f5f8ff;
}
.container:hover {
  /* background: var(--passenger-card-gradient-hover); */
  background: #f6f8fc;
  cursor: pointer;
}
.line {
  width: 25%;
  height: 0.05rem;
  background: var(--miracle-color-gray);
  margin: 0.5rem 0;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--miracle-color-dark);
  margin-top: 1rem;
}

.relationship {
  font-size: 1rem;
  font-weight: 600;
  /* color: var(--miracle-color-medium); */
}

.birthContainer {
  /* display: flex;
  flex-direction: column;
  margin-top: 3rem; */
}

.title {
  font-size: 1rem;
  font-weight: 300;
  /* color: var(--miracle-color-medium); */
}

.birth {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.passengerSectionHeader {
  display: inline-flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Spreads the items to fill the container */
  flex-direction: column;
}

.subheader {
  margin-right: 10px;
}
