.ticketBase {
  flex-direction: column;
  width: 270px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 5px 5px #949494;
  border-radius: 20px;
}

.ticketBase:hover {
  flex-direction: column;
  width: 270px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 5px 5px #373636;
  border-radius: 20px;
  cursor: pointer;
}

.ticketBorder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  background-color: white;
  position: relative;
  border-style: none dashed none none;
  border-width: 1px;
  border-color: #a9a9a9;
}

.ticketNoBorder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  background-color: white;
  position: relative;
}

.dateRowRed {
  display: flex;
  background-color: #e48c8c;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 547;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 271px;
  justify-content: flex-end;
}

.dateRowRedNoBorder {
  display: flex;
  background-color: #e48c8c;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 547;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 270px;
  justify-content: flex-end;
}

.dateRowBlue {
  display: flex;
  background-color: #8aa6ed;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 547;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 271px;
  justify-content: flex-end;
}

.dateRowBlueNoBorder {
  display: flex;
  background-color: #8aa6ed;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 547;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 270px;
  justify-content: flex-end;
}

.date {
  padding-right: 15px;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.airportsRow {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5px;
}

.detailsRow {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  font-weight: 900;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 10px;
}

.legTypeWithImage {
  display: flex;
}

.legType {
  padding-right: 5px;
  padding-left: 3px;
}

.seeMoreRow {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  color: #acacac;
  background-color: white;
  width: 271px;
  height: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 5px;
}

.seeMoreRowNoBorder {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  color: #acacac;
  background-color: white;
  width: 270px;
  height: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 5px;
}

.arrowIcon {
  height: 37px;
  width: 37px;
}
