.Tab {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: rgb(103, 99, 99);
  border: none;
  width: 100%;
  height: fit-content;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  margin-bottom: 10px;

  transition: 0.2s ease-in-out;
}

.Tab:hover {
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
  cursor: pointer;
}

/* .TabNotSelected {
} */

.TabSelected {
  background-color: rgb(199, 199, 199) !important;
  border-radius: 10px;
}

.SideBar {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.SideBarTitle {
  font-family: "Inter", sans-serif;
  color: rgb(103, 99, 99);
  font-size: 18px;
  font-weight: 400;
  margin: 10px 10px;
}

.SidebarIcon {
  height: 16px;
  width: 16px;
}
