.TabNotSelected {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: rgb(103, 99, 99);
  border: none;
  width: 100%;
  height: fit-content;
  padding-left: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
}

.TabSelected {
  width: 100%;
  font-size: 24px;
  color: rgb(255, 255, 255);
  height: fit-content;
  border: none;
  padding-left: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
}

.SideBar {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.SideBarTitle {
  font-family: "Inter", sans-serif;
  color: rgb(103, 99, 99);
  font-size: 18px;
  font-weight: 400;
  margin: 10px 10px;
}

.SidebarIcon {
  height: 16px;
  width: 16px;
}
