.appContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sideBarContainer {
  width: 30vw;
  min-width: 225px;
  max-width: 300px;
  height: 100vh;
  padding: 20px;
  align-self: center;
  background-color: #e1e1e1;
}

.contentContainer {
  width: 80vw;
}
