.label {
  font-size: 16px;
  margin-right: 10px;
  color: var(--miracle-color-black);
  font-weight: 600;
}

.row {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.icon {
  width: 1.5rem;
}

.colorRed {
  color: var(--miracle-color-red);
}

.colorBlue {
  color: var(--miracle-color-blue);
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: var(--miracle-color-blue);
  font-weight: 700;
  font-size: 18px;
}
